{% extends "dashboard.html" %}

{% block page_title %}View Dentists{% endblock %}

<div class="m-4">
    <div class="flex">
        <div> 
            <div class="content">
                {% block content %}
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col"> Branch</th>
                          <th scope="col"> Dentist</th>
                        </tr>
                    </thead>
                    {% for row in dentists %}
                    <tr>
                        <th scope="row">{{row[0]}}</th>
                        <td>{{row[1]}} {{row[2]}}</td>
                        
                    </tr>
                    {% endfor %}
                </table>

                <style>
                    table {
                        font-family: arial, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    }
                        
                    td, th {
                        border: 1px solid #e0e0e0;
                        text-align: left;
                        font-size: small;
                        padding: 8px;
                    }
                        
                    tr:nth-child(even) {
                        background-color: #f1f1f1;
                    }
                </style>
                {% endblock %}
            </div>
        </div>
    </div>
</div>